<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>GraduationDesign</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>Service.LoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Graduation/LoginService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>Service.RegisterService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/Graduation/RegisterService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>post</servlet-name>
    <servlet-class>Service.PostService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/Graduation/PostService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reply</servlet-name>
    <servlet-class>Service.ReplyService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reply</servlet-name>
    <url-pattern>/Graduation/ReplyService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getPost</servlet-name>
    <servlet-class>Service.getPostService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getPost</servlet-name>
    <url-pattern>/Graduation/getPostService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getReply</servlet-name>
    <servlet-class>Service.getReplyService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReply</servlet-name>
    <url-pattern>/Graduation/getReplyService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getClassroom</servlet-name>
    <servlet-class>Service.getClassroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getClassroom</servlet-name>
    <url-pattern>/Graduation/getClassroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookClassroom</servlet-name>
    <servlet-class>Service.BookClassroom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookClassroom</servlet-name>
    <url-pattern>/Graduation/BookClassroom</url-pattern>
  </servlet-mapping>
</web-app>